<ion-header>
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>First Name</ion-label>
        <ion-input placeholder="Greg " type="text" [(ngModel)]="todo.firstname" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input  placeholder="Daskalakis" [(ngModel)]="todo.lastname" name="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Phone Number</ion-label>
        <ion-input  placeholder="(698) 486 35 48" type="text" [(ngModel)]="todo.phoneNumber" name="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date of Birth</ion-label>
        <ion-input placeholder="05/30/1990"type="date" [(ngModel)]="todo.dateOfbirth" name="description"></ion-input>
      </ion-item>
      <ion-button style="width:100%" type="submit" block>Add Todo</ion-button>
  </form>

  <ion-item>
    <ion-input type="text" placeholder="QrCodeData" [(ngModel)]="qrData"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{backendAPIDATA}}</ion-label>
  </ion-item>

  <ion-segment [(ngModel)]="elementType">
    <ion-segment-button value="canvas">
      <ion-label>Canvas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="img">
      <ion-label>Image</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>URL</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngIf="qrData" text-center>
    <ngx-qrcode [value]="qrData" [elementType]="elementType" qr-class="my-code"></ngx-qrcode>
    <ion-card-content>
      <ion-button expand="full" color="tertiary" (click)="downloadQR()" *ngIf="elementType === 'canvas' ">
        <ion-icon name="download" slot="start"></ion-icon> 
        Download QR Code
        </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>

  <ngx-qrcode [elementType]="elementType" [value]="qrData">
  </ngx-qrcode>


    <ion-button style="width:100%" full (click)="captureImage()">Capture Image</ion-button>
    <ion-button style="width:100%" full (click)="sendEmail">Send Email</ion-button>

    <ion-card>
      <ion-card-header>Current Image</ion-card-header>
      <ion-card-content>
        <img [src]="currentImage" *ngIf="currentImage"/>
      </ion-card-content>
    </ion-card>


</ion-content>
